%h1 Listing todos

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @todos.each do |todo|
    = render partial: 'todo', locals: {todo: todo}

%br

= link_to 'New Todo', new_my_list_todo_path(@list)
