/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 
 */

th {
	text-align: left;
}

.app-logo {
	padding-right: rem-calc(15);
}

// #lists-list .row { max-width: 100% }
*[id^="list_"] {
	font-size: 175%;
	line-height: 140%;
}

li .handle { 
  padding-top: rem-calc(15); 
  cursor: move;
}

// list entries
// li.list-entry div, li.header div { display: inline !important; }