
.icon-spin:before { content: '\e816'; } /* '' */
.icon-clock:before { content: '\e82a'; } /* '' */
.icon-mail-empty:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-star-half:before { content: '\e807'; } /* '' */
.icon-star-half-empty:before { content: '\e808'; } /* '' */
.icon-checked:before { content: '\e80c'; } /* '' */
.icon-checked-circled:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-cancel-circled:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e82b'; } /* '' */
.icon-plus-circled:before { content: '\e82c'; } /* '' */
.icon-minus:before { content: '\e82d'; } /* '' */
.icon-minus-circled:before { content: '\e82e'; } /* '' */
.icon-info-circled:before { content: '\e815'; } /* '' */
.icon-info:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e834'; } /* '' */
.icon-eye:before { content: '\e82f'; } /* '' */
.icon-eye-off:before { content: '\e830'; } /* '' */
.icon-thumbs-up-empty:before { content: '\e80e'; } /* '' */
.icon-thumbs-up:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e819'; } /* '' */
.icon-comment-empty:before { content: '\e81a'; } /* '' */
.icon-bell-empty:before { content: '\e817'; } /* '' */
.icon-bell:before { content: '\e818'; } /* '' */
.icon-crown:before { content: '\e801'; } /* '' */
.icon-down-hand:before { content: '\e811'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-link:before { content: '\e825'; } /* '' */
.icon-attach:before { content: '\e826'; } /* '' */
.icon-clock-1:before { content: '\e831'; } /* '' */
.icon-progress-0:before { content: '\e81b'; } /* '' */
.icon-progress-1:before { content: '\e81c'; } /* '' */
.icon-progress-2:before { content: '\e81d'; } /* '' */
.icon-progress-3:before { content: '\e81e'; } /* '' */
.icon-trophy:before { content: '\e821'; } /* '' */
.icon-monitor:before { content: '\e81f'; } /* '' */
.icon-mobile:before { content: '\e820'; } /* '' */
.icon-chart-pie:before { content: '\e822'; } /* '' */
.icon-share:before { content: '\e812'; } /* '' */
.icon-th:before { content: '\e823'; } /* '' */
.icon-list:before { content: '\e824'; } /* '' */
.icon-attention:before { content: '\e813'; } /* '' */
.icon-edit:before { content: '\e832'; } /* '' */
.icon-edit-circled:before { content: '\e833'; } /* '' */
.icon-delete-1:before { content: '\e836'; } /* '' */
.icon-delete-circled:before { content: '\e837'; } /* '' */
.icon-down-open:before { content: '\e838'; } /* '' */
.icon-left-open:before { content: '\e839'; } /* '' */
.icon-right-open:before { content: '\e83a'; } /* '' */
.icon-up-open:before { content: '\e835'; } /* '' */
.icon-search:before { content: '\e828'; } /* '' */
.icon-settings:before { content: '\e829'; } /* '' */
.icon-calendar:before { content: '\e827'; } /* '' */
.icon-up-hand:before { content: '\e810'; } /* '' */